body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	transition: all 0.8s;
	box-sizing: border-box;
	background-color: #eee;
}
*{
	box-sizing: border-box;
}

header{
	display: flex;
}
nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #212121;
	color: #eee;
	box-sizing: border-box;
}
img{
	width: 100px;
	height: 90px;
}	
div ul{
	list-style: none;
}
ul li{
	margin: 10px;
}
a{
	text-decoration: none;
	color: #eee;	
	transition: all 0.3s;
}
a:hover{
	color: #4B89DA;
	transition: all 0.3s;
}
.sectionBusca{
	display: flex;
	box-sizing: border-box;
	background-color: #fff;
}
.conteinerFomulario{
	display: flex;
	flex-wrap: wrap;
}
div form{
	display: flex;
	align-items: center;
	flex-wrap: wrap;	
	padding: 20px; 
}
input{
	margin-left: 10px;
	padding: 10px;
	outline: none;
}
.inputText{
	border: 1px solid #212121;
	border-radius: 3px;
}
.inputBotao{
	border: 1px solid #4b89da;
	border-radius: 3px;
	background-color: #4b89da;
	color: #eee;
	transition: all 0.5s;
}
.inputBotao:hover{
	border: 1px solid #e8563f;
	background-color: #e8563f;
	transition: all 0.5s;
}
button{
	margin-top: 20px;
	padding: 10px;
	outline: none;
	border: 1px solid #e8563f;
	border-radius: 3px;
	background-color: #e8563f;
	color: #eee;
	transition: all 0.5s;
}
button:hover{
	border: 1px solid #4b89da;
	background-color: #4b89da;
	transition: all 0.5s;
}
@media (max-width: 444px) {
		input{
			padding: 7px;
		}
		.inputText{
			width: 80%;
			margin-bottom: 10px;
		}
		button{
			margin-top: 60px;
			padding: 7px;
		}
}
@media (max-width: 385px) {
		button{
			margin-top: 10px;
			margin-left: 30px; 
			padding: 7px;
		}
}
.tabelaSeviçCliente{
	display: flex;
	width: 100%;
	margin-top: 50px;
	box-sizing: border-box;
}
.divTabelaServiço{
	display: flex;
	justify-content: center;
	width: 100%;
}
.table{
	width: 90%;
	border-collapse: collapse;
}
.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: #212121;
	color:#eee;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}
select{
	width: 110px;
	height: 35px;
	outline: none;
}
/*responsive*/
@media(max-width: 665px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}




