*{
	box-sizing: border-box;
}
.body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	transition: all 0.8s;
	box-sizing: border-box;
	background-color: #eee;
}
/*---------------------------------------------------------------------------*/
/*Menu Estilo*/
.nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #212121;
	color: #eee;
	box-sizing: border-box;
}
img{
	width: 100px;
	height: 90px;
}	
div ul{
	list-style: none;
}
ul li{
	margin: 10px;
}
li a{
	text-decoration: none;
	color: #eee;	
	transition: all 0.3s;
	cursor: pointer;
}
a:hover{
	color: #4B89DA;
	transition: all 0.3s;
}
/*---------------------------------------------------------------------------*/
.section{
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.conteiner{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 5px;
	margin: 20px;
}
.avisosFormulario{
	color: #fff;
	background-color: #4B89DA;
	box-sizing: border-box;
	padding: 10px;
}
span{
	font-weight: 1px;
	font-size: 20pt;
}
p{
	font-weight: 1px;
	font-size: 16pt;
}
ul li{
	padding: 5px;
}
/*MENSAGENS DE ERROR E SUCESSO*/
.conteinerMensagemErrorSucesso{
	width: 100%;
	margin: auto;
	height: 40px;
	margin: auto;
	border-radius: 1px solid;
}
.iconMensagemErrorSucesso{
	height: 40px;
	text-align: center;
	color: #eee;
	padding: 10px;
	box-sizing: border-box;
}
.sucCorMesnsagemV{
	background-color: rgb(50, 159, 94);
}
.errorCorMesnsagemX{
	background-color: rgb(169, 13, 14);
}
.divTabelaServiço{
	display: flex;
	flex-direction: column;
	background-color: #eee;	
	margin: 20px;
}
/*---------------------------------------------------------------------------*/
/*Formulario*/
form{
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;	
	padding: 20px; 
}
.input{
	padding: 10px;
	outline: none;
	
}

/*Estilo e comportamente dos inputs text Menores*/
.inputtextMenor{
	width: 100%;
	padding: 10px;
	border-top: none;
	border-bottom: solid 1px #4b89da;
	border-left: none;
	border-right:none;
	font-size: 12pt;
	transition: all 0.5s;
	background-color: transparent; 
}
.inputtextMenor:hover{
	background-color: #e5e8ec;
	transition: all 0.5s;
}
.inputtextMenor:focus{
	background-color: #e5e8ec;
	transition: all 0.5s;
}
textarea{
	width: 350px;
	height: 150px;
}

/*Estilo e comportamente do input botão submit*/
.botaoSubmit{
	width: 90px;
	background-color: #4b89da;
	border: 1px solid #4b89da; 
	border-radius: 5px;
	font-size: 14;
	color: #fff;
	transition: all 0.5s;
}

/*Estilo da area de aviso*/
.botaoSubmit:hover{
	background-color: #fff;
	color:#4b89da; 
	transition: all 0.5s;
}
/*---------------------------------------------------------------------------*/
/*-- Modal + Tabela --*/
.modalFlex{
	display: flex;
	box-sizing: border-box;
}
.modalMeusServicos{
	background-color: #4b89da;
	color: #eee;
}
.tabelaSeviçClienteModal{
	display: flex;
	width: 100%;
	margin-top: 50px;
	box-sizing: border-box;
}
.divTabelaServiçoModal{
	display: flex;
	justify-content: center;
	width: 100%;
}
.table{
	width: auto;
	border-collapse: collapse;
}
.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: #212121;
	color:#eee;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}
select{
	width: 110px;
	height: 35px;
	outline: none;
}
/*responsive*/
@media(max-width: 995px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}
/*---------------------------------------------------------------------------*/
/*Estilo do comportamente responsivo da pagina-tablet*/
@media(max-width: 1210px){
	.conteinerLogin{
		width: 100%;
	}
	.avisosFormulario{
		width: 100%;
		box-sizing: border-box;
	}
	.divTabelaServiço{
		width: 69%;
		flex-direction: column;
		background-color: #eee;	
	}
	.inputtextMenor{
		width: 100%;
		padding: 5px;
		font-size: 10pt; 
	}
	textarea{
		width: 100%;
		padding: 5px;
		font-size: 10pt;
	}
	span{
		font-weight: 1px;
		font-size: 16pt;
	}
	p{
		font-weight: 1px;
		font-size: 12pt;
	}
	ul li{
		padding: 5px;
	}
}
@media(max-width: 615px){
	.inputtextMenor{
		width: 100%;
		padding: 5px;
		font-size: 10pt; 
	}
	
	textarea{
		width: 100%;
		padding: 5px;
		font-size: 10pt;
	}
}
/*---------------------------------------------------------------------------*/
/*Estilo do comportamente responsivo da pagina-mobile*/
@media(max-width: 400px){
	.divTabelaServiço{
		width: 100%;
	}
	.avisosFormulario{
		width: 100%;
		box-sizing: border-box;
	}
	.inputtextMenor{
		width: 100%;
		padding: 5px;
		font-size: 10pt; 
	}
	span{
		font-weight: 1px;
		font-size: 16pt;
	}
	p{
		font-weight: 1px;
		font-size: 12pt;
	}
	ul li{
		padding: 5px;
	}
	textarea{
		width: 100%;
		height: 150px;
	}
}