/*Estilo global*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
}

/*menu lateral*/
#idInputCheckbox{
	display: none;
}
#inconeToogle{
	display:block:;
	cursor:pointer;
	padding: 15px;
	position: absolute;
	z-index: 1;
}
.barra{
	width: 250px;
	height: 100%;
	background:#4b89da;
	position: absolute;
	transition: all 0.2s linear;
	left: 0px;
}
nav{
	width: 100%;	
	position: absolute;
	top: 60px;
}
nav div img, span{
	margin-left: 60px;
}
nav div span{
	padding: 20px;
	font-size: 18px;
	color: #eee;
}
nav div{
	margin-bottom: 10px;
}
nav a{
	text-decoration: none;
}
.link{
	padding: 20px;
	font-size: 18px;
	border-bottom: solid 1px #4b89da;
	color: #eee;
	transition: all 0.2s linear;
}
/*Animaçes*/
.link:hover{
	background-color: #5e9cea;
}
#idInputCheckbox:checked ~ .barra{
	transform: translateX(-300px);
}
/*section com formulario*/
section{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer{
	color: #000;
	font-size: 18pt;
	font-style: italic;
}
@media (max-width: 450px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { border: 1px solid #ccc; }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 200px;
    margin-left: 150px;
  }
  td:before {
    position: absolute;
    top: 12px;
    left: 6px;
    width: 200px;
    padding-right: 40px;
    white-space: nowrap;
    margin-left: -150px;
  }
  td:nth-of-type(1):before { content: "Option"; }
  td:nth-of-type(2):before { content: "Description"; }
  td:nth-of-type(3):before { content: "Type"; }
  td:nth-of-type(4):before { content: "Default";}
}