/*Estilo global*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
}

/*menu lateral*/
#idInputCheckbox{
	display: none;
}
#inconeToogle{
	display:block:;
	cursor:pointer;
	padding: 15px;
	position: absolute;
	z-index: 1;
}
.barra{
	width: 300px;
	height: 100%;
	background: linear-gradient(#4b89da, #fff);
	position: absolute;
	transition: all 0.5s linear;
	left: -300px;
}
nav{
	width: 100%;	
	position: absolute;
	top: 60px;
}
nav div img, span{
	margin-left: 60px;
}
nav div span{
	padding: 20px;
	font-size: 18px;
	color: #eee;
}
nav div{
	margin-bottom: 10px;
}
nav a{
	text-decoration: none;
}
.link{
	padding: 20px;
	font-size: 18px;
	border-bottom: solid 1px #4b89da;
	color: #eee;
	transition: all 0.2s linear;
}
/*Animaçes*/
.link:hover{
	background-color: #5e9cea;
}
#idInputCheckbox:checked ~ .barra{
	transform: translateX(300px);
}
/*section com formulario*/
section{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
section div {

}
footer{
	color: #000;
	font-size: 18pt;
	font-style: italic;
}