/*Css global*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	transition: all 0.8s;
	background: linear-gradient(#fff, #4b89da);
}
/*Cabeçalho*/
header{
	display: flex;
}
header a{
	margin-left: 10%;
}
header a img{
	width: 100px;
	height: 90px;
}
/*Conteudo*/
section{
	display: flex;
	justify-content: center;
	box-sizing: border-box;
}
.conteinerLogin{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 5px;
}
/*Formulario*/
input{
	height: 40px;
	outline: none;
	opacity: 1;
	margin: 10px;
}
/*Estilo e comportamente dos inputs text Maiores*/
.inputtextoMaior{
	width: 350px;
	padding: 10px;
	border-top: none;
	border-bottom: solid 1px #4b89da;
	border-left: none;
	border-right:none;
	font-size: 12pt;
	transition: all 0.5s;
	background-color: transparent;
}
.inputtextoMaior:hover{
	background-color: #e5e8ec;
	transition: all 0.5s;
}
.inputtextoMaior:focus{
	background-color: #e5e8ec;
	transition: all 0.5s;
}
/*Estilo e comportamente dos inputs text Menores*/
.inputtextMenor{
	width: 200px;
	padding: 10px;
	border-top: none;
	border-bottom: solid 1px #4b89da;
	border-left: none;
	border-right:none;
	font-size: 12pt;
	transition: all 0.5s;
	background-color: transparent; 
}
.inputtextMenor:hover{
	background-color: #e5e8ec;
	transition: all 0.5s;
}
.inputtextMenor:focus{
	background-color: #e5e8ec;
	transition: all 0.5s;
}
/*Estilo e comportamente do input botão submit*/
.botaoSubmit{
	width: 90px;
	background-color: #4b89da;
	border: 1px solid #4b89da; 
	border-radius: 5px;
	font-size: 14;
	color: #fff;
	transition: all 0.5s;
}
/*Estilo da area de aviso*/
.botaoSubmit:hover{
	background-color: #fff;
	color:#4b89da; 
	transition: all 0.5s;
}

.avisosFormulario{
	color: #fff;
	background-color: #4B89DA;
	box-sizing: border-box;
	padding: 10px;
}

span{
	font-weight: 1px;
	font-size: 20pt;
}
p{
	font-weight: 1px;
	font-size: 16pt;
}
ul li{
	padding: 5px;
}
/*Rodape da pagina*/
footer{
	display: flex;
	justify-content: center;
	margin-top: 45px;
}
footer div{
	font-size: 14pt;
	color: #424953;
}
/*Estilo do comportamente responsivo de paginas de telas para tablet*/
@media(max-width: 1210px){
	.avisosFormulario{
		width: 100%;
	}
	.inputtextoMaior{
		width: 300px;
		padding: 5px;
		font-size: 10pt;
	}
	.inputtextMenor{
		width: 200px;
		padding: 5px;
		font-size: 10pt; 
	}
	span{
		font-weight: 1px;
		font-size: 16pt;
	}
	p{
		font-weight: 1px;
		font-size: 12pt;
	}
	ul li{
		padding: 5px;
	}
}
/*Estilo do comportamente responsivo da pagina-mobile*/
@media(max-width: 400px){
	.inputtextoMaior{
		width: 300px;
		padding: 5px;
		font-size: 10pt;
	}
	.inputtextMenor{
		width: 200px;
		padding: 5px;
		font-size: 10pt; 
	}
	span{
		font-weight: 1px;
		font-size: 16pt;
	}
	p{
		font-weight: 1px;
		font-size: 12pt;
	}
	ul li{
		padding: 5px;
	}
}